<fancy-button>
    <button class={ className(opts) }>
        {opts.text}
    </button>

    <style>
        .fancy-button {
            font-size: 18px;
            font-family: 'Arvo', serif;

            outline: none;
            padding: 12px 18px;
            border-radius: 4px;
            border: 2px solid black;
            background: transparent;

            transition: linear 80ms;

            user-select: none;
            -webkit-user-select: none;
            -webkit-appearance: none;
            -webkit-tap-highlight-color: rgba(0,0,0,0);
        }

        .fancy-button:active {
            transform: translate(2px, 1px);
        }

        .fancy-button_disabled {
            opacity: 0.1;
        }

        .fancy-button_disabled:active {
            transform: none;
        }
    </style>

    <script>
        const button = this || {};

        /**
         * Generates class list for button.
         *
         * @param {object} opts
         * @param {bool} opts.disabled - is button disabled
         * @returns {string} list of class names
         */
        button.className = function className(opts) {
            let name = "fancy-button";

            if (opts.disabled) {
                name += " fancy-button_disabled";
            }

            return name;
        }
    </script>
</fancy-button>
