<letter>
    <div class={ "letter letter_" + opts.type }>
        <yield />
    </div>

    <style>
        .letter {
            height: 32px;
            width: 32px;
            margin: 4px;

            text-align: center;
            font-size: 28px;
            font-family: 'Gochi Hand', cursive;
        }

        .letter_box {
            border-bottom: 4px black solid;
        }

        .letter_cross-out {
            position: relative;
        }

        .letter_cross-out::after {
            top: 0;
            position: absolute;

            content: '/';
            font-size: 48px;
            transform: translate(-12px, -10px) rotate(30deg);

            color: #d41313;
            opacity: .8;
        }
    </style>
</letter>